/* Color Palette
#2B2D42 - dark blue
#8D99AE - LIGHT BLUE
#EDF2F4 - BLUE/WHITE
#EF233C - RED
*/

/*Global Styles
----------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1, h2 {
	font-family: 'Indie Flower', cursive;
        font-weight: 400;
}
h1 {
     font-size: 80px;
     text-shadow: 4px 4px black;
}
h2 {
     font-size: 40px;
     margin-top: 0;
}
p {
	font-size: 20px;
}
	
a {
	color: white;
}
a:hover {
	text-decoration: none;
}
.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
}
.content-wrap h1  {
	text-shadow: 2px 2px 4px white;
}
.content-wrap h2  {
	text-shadow: 2px 2px 4px black;
}
.col-narrow {
	width: 30%;
	float: left;
	min-height: 175;
}
.col-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
	min-height: 175;
}
.col-wide h2{
	text-shadow: 2px 2px 4px white;
}

/*Header and Footer
-----------------------*/

header, footer {
	background: #2B2D42;
	color: white;
}
	
/*header*/
.profile-img {
		border-radius: 50%;
}

header h1, header h2 {
	color: #EDF2F4;
	margin: 0;
}

/*footer*/
footer {
	text-align: center;
}
.contact-info a {
	padding: 40px;
	display: inline-block;
	}	





/*Work Experience
------------------------*/

.work {
	background: #EDF2F4;
}







/*Education
--------------------------*/

.education {
	background: #8D99AE; 
}